@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family:'Hiragino Mincho ProN', serif;
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0.1em;
    color: #6f8088;
    background-color: #fff;
	text-align: justify;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

h1, h2 ,h3 {
    font-size: 1.2em;
}

h4, h5, h6, p {
    font-size: 1em;
}
h2 {
	margin: 2.5%;
	text-indent: -0.5em;
}
h2:before {
	content: "【";
}
h2:after {
	content: "】";
}

a img {
    border: none;
}

a:link, a:visited {
    color: #6f8088;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
    color: #6f8088;
	text-decoration: none;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.textleft {
    text-align: left;
}

.textjustify {
    text-align: justify;
}

.innerspace {
    padding: 5px;
}

.outerspace {
    margin: 5px;
}

.textbold {
    font-weight: bold;
}

.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

.shadow {
    box-shadow: 2px 2px 10px #000;
 /*CSS3*/
    -moz-box-shadow: 2px 2px 10px #000;
 /* Firefox用*/
    -webkit-box-shadow: 2px 2px 10px #000;
 /* Google Chrome, Safari用*/;
}

.fancybox img {
}

/* 追加スタイル */
#secondbox {
}
p.p_important {
	display: block;
	width: 95%;
	font-size: 1.6em;
	line-height: 1.2em;
	margin: 2.5%;
}
p.p_important span.p_important_min {
	font-size: 0.6em;
}
#main_paragraph {
	display: block;
	width:100%;
	border-top: 2px solid #6f8088;
	border-bottom: 2px solid #6f8088;
}
#main_paragraph p {
	width: 95%;
	margin: 2.5%;
}
h2.tm3em {
	margin-top: 10%;
}
.rightbox {
	text-align: center;
}
.rightbox #map_img_mobile {
	width: 80%;
	margin-bottom: 5%;
}
#thumb_box {
	width: 365px;
}
#thumb_box a {
	display: block;
	float: left;
	width: 117px;
	height: 70px;
	text-indent: -9999em;
}
#thumb_box a#thumb_image01 {
	background:url(../images/animal01_thumb.jpg) no-repeat 0 0;
}
#thumb_box a#thumb_image02 {
	background:url(../images/animal02_thumb.jpg) no-repeat 0 0;
}
#thumb_box a#thumb_image03 {
	background:url(../images/animal03_thumb.jpg) no-repeat 0 0;
}
#thumb_box a#thumb_image01:hover, #thumb_box a#thumb_image02:hover, #thumb_box a#thumb_image03:hover{
	background-position:0 -70px;
}
#contact {
	border-top: 2px solid #6f8088;
	border-bottom: 2px solid #6f8088;
}
#contact h2 {
	margin-top: 2.5%;
	margin-bottom: 0.2em;
}
#contact p {
	font-size: 1.2em;
	margin-bottom: 2.5%;
}
#contact .contact_text_min {
	font-size: 0.8em;
}
#contact, #footerlogo {
	text-align: center;
}
#footerlogo img {
	width: 40%;
	margin: 5% 0;
}

footer {
	width: 100%;
	background: #6f8088;
	color: #ffffff;
	text-align: center;
}
footer#footer p {
	width: 95%;
	padding: 2.5% 2.5% 2.5% 2.5%;
}
footer a:link, footer a:visited {
    color: #ffffff;
	text-decoration: underline;
}
footer a:hover,footer a:active,footer a:focus {
    color: #ffffff;
	text-decoration: none;
}

h1#websitelogo {
    display: block;
	width: 0;
	height: 0;
	text-indent: -9999px;
	padding: 0;
    margin: 0;
	}
img#websitelogo_img {
	width: 100%;
	height: 100%;
}

/* スマホでは非表示にするパーツ */
.unmobile {
    display: none;
} 

/* タブレット用 */
@media only screen and (min-width: 481px) {
}

/* パソコン用 */
@media only screen and (min-width: 769px) {
    .undesktop {
        display: none;
    }
	.unmobile {
	    display: block;
	} 
	#contact br{
    	display: none;
    }

    header {
        display: block;
		width: 960px;
		margin: 0 auto;
    }
	div#secondbox {
        display: block;
		width: 960px;
		margin: 0 auto;
	}
	.leftbox {
		width: 515px;
		float: left;
		margin: 40px;
	}
	p.p_important {
		margin: 0;
		font-size: 1.75em;
	}
	#main_paragraph {
		border: none;
		margin: 0;
	}
	#main_paragraph h2 {
		font-size: 1em;
		text-indent: -20px;
	}
	#main_paragraph p {
		width: 100%;
		margin: 0;
		font-size: 0.75em;
	}
	h2.tm3em {
		margin-top: 0;
	}
	.leftbox h2 {
		margin-top: 40px;
	}
	
	.rightbox {
		width: 365px;
		float: left;
		padding: 0;
		margin-top: 40px;
	}
	#map_details {
		text-align: left;
		margin: 10px 0 60px 0;
		font-size: 0.9em;
		font-family:'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	}
	.mb7px {
		margin: 0 7px;
	}
	
	#contact {
        display: block;
		width: 960px;
		margin: 0 auto;
		border-top: 1px solid #6f8088;
	}
	#contact h2, #contact p {
		font-size: 1em;
		display: inline;
		margin: 0;
	}
	#content_container {
		width: 890px;
		margin: 10px 40px 20px 30px;
		text-align: left;
	}
	#contact .contact_text_min {
		font-size: 0.75em;
	}
	footer {
        display: block;
		width: 960px;
		margin: 0 auto;
		text-align: center;
		font-size: 0.75em;
	}
}